@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import './sass/basic-reset.scss';

* {box-sizing:border-box;}
html,body {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;}

.m-app {
  text-align: center;

  &_logo {
    animation: img-spin infinite 20s linear;
    height: 80px;
  }

  &_header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  &_content {
    padding:40px;
    background-color:#444;
    background-image:url('./img/weather-app-bg.jpg');
    height: calc(100vh - 150px);

  }
}

.m-main {
  &_widgets {
    margin:10px -10px;
    overflow:hidden;
  }
}

.m-weather-widget {
  display:block;
  position:relative;
  padding:20px 30px;
  text-align:left;
  margin:10px 0;
  box-shadow: 0px 1px 7px #444;

  &_container {
    overflow:hidden;
    width:33.3333%;
    padding:0 10px;
    float:left;
    transition:all 250ms ease-in;
    animation: fade-in 1s ease-in;
  }

  &_weather-desc {float:right;}
  &_meta-container {display:block;overflow:hidden;margin-top:10px;}
  &_meta {
    width:50%;
    float:left;
    font-size:0.9em;
    font-style:italic;
    line-height:1.2em;
    
    &-current-temp {font-style:normal;font-weight:bold;}
  }
  &_weather-desc {
    line-height:25px;
    text-transform:lowercase;
    font-size:0.75em;

    &-img {
      position:relative;top:8px;
      display:inline-block;
      height:25px;width:auto;
      padding-left:4px;
    }

    span+span {padding-left:10px;}
  }

  h2 {
    display:inline-block;
    font-size:1.2em;
    font-weight:bold;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;
  }
}

.m-btn_delete {
  position:absolute;
  top:0;right:0;
  height:25px;width:25px;
  line-height:25px;
  text-align:center;
  background-color:#222;
  opacity:0.4;
  color:#fff;
  font-weight:bold;
  border:0;
  transition:opacity 250ms ease-in;
}
.m-btn_delete:hover {opacity:1;}

.is-temp {
  &_hot {
    background-color:rgb(255,0,0);
    background-color:rgba(255,0,0,0.6);
  }
  &_very-warm {
    background-color:rgb(204,0,51);
    background-color:rgba(204,0,51,0.6);
  }
  &_warm {
    background-color:rgb(153,0,102);
    background-color:rgba(153,0,102,0.6);
  }
  &_cool {
    background-color:rgb(102,0,153);
    background-color:rgba(102,0,153,0.6);
  }
  &_cold {
    background-color:rgb(50,0,204);
    background-color:rgba(50,0,204,0.6);
  }
  &_very-cold {
    background-color:rgb(0,0,255);
    background-color:rgba(0,0,255,0.6);
  }
}


@keyframes img-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes img-wiggle {
  10%, 90% {
    transform: rotate(-5deg);
  }
  
  20%, 80% {
    transform: rotate(10deg);
  }

  30%, 50%, 70% {
    transform: rotate(-12deg);
  }

  40%, 60% {
    transform: rotate(14deg);
  }
}


@media screen and (min-width:1025px) {
  .m-weather-widget {
    &_container:hover {
      transform:scale(1.05);

      .m-weather-widget_weather-desc-img {
        animation: img-wiggle 2s linear;
      }
    }
    
  }
}

@media screen and (max-width: 992px) {
  .m-weather-widget_container {width:50%;}
}

@media screen and (max-width: 767px) {
  .m-weather-widget_container {width:100%;}
}